*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    height: auto;
}

body{
    background-color: #d1fbf0;
}
.page{
    background-color: rgba(255, 247, 247, 0.6);
    width: 100%;
    /* margin-top: 200px; */
    
}
.container{
    border: 2px solid green;
    border-radius: 20px;
    padding: 40px;
    background-color: rgb(248, 248, 248);
}
h2{
    font-size: 300%;
}
/* .option{
    background-color: whitesmoke;
} */

#final{
    background-color: #10ac84;
    margin-top: 40px;
    height: 60vh;
    text-align: center;
    padding-top: 120px ;
    border-radius: 10px;
}

#finish{
    color: white;
    font-size: 300%;
}
#submit{
    margin: auto;
}
#submitPara{
    color: green;
    padding-left: 20px;
    font-size: 80%;
}