*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    height: auto;
}

body{
    /* background-color: #d1fbf0; */
    background-image: linear-gradient(rgba(173, 231, 224,0.8), rgba(173, 231, 224,0.8)), url(../images/moroccan-flower.png);
}
.page{
    background-color: rgba(255, 247, 247, 0.6);
    width: auto;
    /* margin-top: 200px; */
    
}
.container{
    border: 2px solid green;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
    width: 90%;
    margin: auto;
}
#questionContainer {
    font-size: 40%;
}
h2{
    font-size: 200%;
}
/* .option{
    background-color: whitesmoke;
} */

#final{
    background-color: #10ac84;
    margin-top: 40px;
    height: auto;
    padding: 120px 0px ;
    border-radius: 10px;
}

#finish{
    color: white;
    font-size: 150%;
    text-align: center;
}
#submit{
    margin: auto;
}
#submitPara{
    color: green;
    padding-left: 20px;
    font-size: 80%;
}